.container {
  min-width: 1000px;
}

.row {
  display: flex;
  justify-content: center;
}

.column-full {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.row .column-full table {
  width: 80%;
  height: 600px;
  border: 1px solid red;
}

table tbody tr:nth-child(odd) {
  background-color: rgb(197, 195, 195);
}

.sort tr:nth-child(odd) {
  background-color: rgb(197, 195, 195);
}

.row .column-full table tr {
  height: 10px;
}

.hidden {
  visibility: hidden;
}
